@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-image: url('./images/christmas.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Mountains of Christmas", cursive;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
}


.time-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem;
}

.time-container span {
    font-size: 1.5rem;
}


.big-text {
    font-size: 4rem;
    line-height: 1;
    margin: 0 4rem
}